/* -------------------Mobile-Phones ------------------ */

 :root {
    --main-padding: 5px;
}

@media only screen and (min-width:480px) and (max-width: 768px) {
    .body {
        width: 500px;
    }
    .container {
        width: 470px;
        margin-left: 3%;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr !important;
        grid-template-areas: "nav nav " "sidebar sidebar " "content0 content0 " "content1 content1" "content2 content3" "content4 content5" "footer footer" !important;
    }
    nav {
        background: #a7ffeb;
        grid-area: nav;
        padding-top: var(--main-padding);
    }
    #sidebar {
        background: #f5b0cd;
        grid-area: sidebar;
        padding-top: var(--main-padding);
    }
    #content0 {
        background: #a7ffeb;
        grid-area: content0;
        padding-top: var(--main-padding);
    }
    #content1 {
        background: #cbeca5;
        grid-area: content1;
        padding-top: var(--main-padding);
    }
    #content2 {
        background: #f0da9f;
        grid-area: content2;
        padding-top: var(--main-padding);
    }
    #content3 {
        background: #73ffba;
        grid-area: content3;
        padding-top: var(--main-padding);
    }
    #content4 {
        background: #f8acac;
        grid-area: content4;
        padding-top: var(--main-padding);
    }
    #content5 {
        background: #a6acf5;
        grid-area: content5;
        padding-top: var(--main-padding);
    }
    #content6 {
        background: #73ffba;
        grid-area: content6;
        padding-top: var(--main-padding);
    }
    footer {
        background: #1de9b6;
        grid-area: footer;
        padding-top: var(--main-padding);
    }
}


/* --------------------Tablet------------------------- */

@media only screen and (min-width:768px) and (max-width: 991px) {
    .body {
        width: 991px;
    }
    .container {
        width: 750px;
        margin-left: 5%;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr !important;
        grid-template-areas: "nav nav " "sidebar sidebar " "content0 content0 " "content1 content1" "content2 content3" "content4 content5" "footer footer" !important;
    }
    nav {
        background: #a7ffeb;
        grid-area: nav;
        padding-top: var(--main-padding);
    }
    #sidebar {
        background: #f5b0cd;
        grid-area: sidebar;
        padding-top: var(--main-padding);
    }
    #content0 {
        background: #a7ffeb;
        grid-area: content0;
        padding-top: var(--main-padding);
    }
    #content1 {
        background: #cbeca5;
        grid-area: content1;
        padding-top: var(--main-padding);
    }
    #content2 {
        background: #f0da9f;
        grid-area: content2;
        padding-top: var(--main-padding);
    }
    #content3 {
        background: #73ffba;
        grid-area: content3;
        padding-top: var(--main-padding);
    }
    #content4 {
        background: #f8acac;
        grid-area: content4;
        padding-top: var(--main-padding);
    }
    #content5 {
        background: #a6acf5;
        grid-area: content5;
        padding-top: var(--main-padding);
    }
    #content6 {
        background: #73ffba;
        grid-area: content6;
        padding-top: var(--main-padding);
    }
    footer {
        background: #1de9b6;
        grid-area: footer;
        padding-top: var(--main-padding);
    }
}


/* --------------------Desktop------------------------- */

@media only screen and (min-width: 768px) {
    nav {
        background: #a7ffeb;
        grid-area: nav;
        padding-top: var(--main-padding);
    }
    #sidebar {
        background: #f5b0cd;
        grid-area: sidebar;
        padding-top: var(--main-padding);
    }
    #content0 {
        background: #a7ffeb;
        grid-area: content0;
        padding-top: var(--main-padding);
    }
    #content1 {
        background: #cbeca5;
        grid-area: content1;
        padding-top: var(--main-padding);
    }
    #content2 {
        background: #f0da9f;
        grid-area: content2;
        padding-top: var(--main-padding);
    }
    #content3 {
        background: #73ffba;
        grid-area: content3;
        padding-top: var(--main-padding);
    }
    #content4 {
        background: #f8acac;
        grid-area: content4;
        padding-top: var(--main-padding);
    }
    #content5 {
        background: #a6acf5;
        grid-area: content5;
        padding-top: var(--main-padding);
    }
    #content6 {
        background: #73ffba;
        grid-area: content6;
        padding-top: var(--main-padding);
    }
    footer {
        background: #1de9b6;
        grid-area: footer;
        padding-top: var(--main-padding);
    }
}